nav{
    background-color: hsl(230, 100%, 69%);
    border: 2px solid rgb(111, 108, 108);
    
}
h1{
    text-align: center;
    color: #000000;
}

a{
    color: #000000;
    border: 2px solid rgb(0, 0, 0);
    background-color: hsl(0, 0%, 100%);
}

section{
    border: #000000;
    background-color:hsl(230, 100%, 69%);;
}
h3{
    color: #969696 ;
}